
/* nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
:root {
    --font-family: "Arial, Helvetica, sans-serif"
} */

body {
    box-sizing: border-box;
    background: rgb(11,64,124);
    background: linear-gradient(90deg, rgb(238, 96, 91) 0%, rgb(140, 228, 235) 59%);
    margin: 0 auto;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: rgb(209, 209, 209);
    background-color: black;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    height: 100px;
}

.tortuga img {
    width: 420px;
}

.veng {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.tortuga {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.desc {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.sino p {
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

.star {
    display: flex;
    gap: 15px;
}
.star img {
    width: 40px;
}
.star a {
    text-decoration: none;
}